* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --light-color: #EEFAFB;
  --med-color: #D1FFE8;
  --secondary-med-color: #94CCC0;
  --dark-color: #1F7D84;
  --secondary-dark-color: #ED1D46;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

body a {
  text-decoration: none;
  color: var(--secondary-dark-color);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* HERO STARTS HERE */
.hero {
  height: 230px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("./assets/images/hero-cord-image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.hero h2 {
  height: 25%;
  width: 15%;
  padding: 12px;
  margin-bottom: 0;
  background-color: var(--secondary-dark-color);
  color: var(--med-color);
  text-shadow: 0 0 10px #6d0a23;
  font-weight: bold;
  font-size: 28px;
}

/* HEADER STARTS HERE */
header {
  background-color: var(--secondary-dark-color);
}

header h1 a {
  font-size: 38px;
  font-weight: bold;
  color: var(--med-color);
  text-shadow: 0 0 10px #6d0a23;
}

header h1 a:hover {
  color: var(--light-color);
}

header nav ul {
  list-style: none;
}

header nav ul li {
  font-size: 18px;
  color: var(--med-color);
  text-shadow: 0 0 10px #6d0a23;
  list-style: none;
}

header nav ul li:hover {
  color: var(--light-color);
  /* text-decoration: none; */
}

header nav ul li a {
  text-decoration: none;
  color: var(--med-color);
  text-shadow: 0 0 10px #6d0a23;
  font-size: 18px;
}

header nav ul li a:hover {
  color: var(--light-color);
  /* text-decoration: none; */
}

/* ABOUT STARTS HERE */

h3 {
  flex: 1 100%;
  font-size: 35px;
  font-weight: 700;
  border-bottom: 2px solid var(--secondary-dark-color);
  width: 100%;
  padding: 10px 0;
}

#about-me {
  display: flex;
  flex-wrap: wrap;
  color: var(--dark-color);
}

#about-me img {
  border: 2px solid var(--dark-color);
  border-radius: 2px;
  box-shadow: 5px 5px 10px var(--dark-color);
}

/* WORK SAMPLES START HERE */
#work {
  color: var(--dark-color);
}

.work-sample a img {
  margin: 0 20px;
  width: 475px;
  opacity: 90%;
  border: 5px solid var(--dark-color);
  border-radius: 1%;
  box-shadow: 5px 5px 10px var(--dark-color);
}

.work-sample a img:hover {
  opacity: 50%;
  box-shadow: none;
}

.sample-tag {
  color: #263940;
  background-color: var(--secondary-med-color);
  width: 400px;
  height: 150px;
  margin: 0 0 5% 0;
  padding: 10px;
  position: relative;
  bottom: 170px;
  border: 2px solid var(--secondary-med-color);
  border-radius: 1px;
  box-shadow: 5px 5px 10px var(--dark-color);
  font-size: 14.5px;
}

#github-ico {
  border: .5px solid var(--secondary-med-color);
  border-radius: 7px;
  box-shadow: 0px 0px 5px var(--dark-color);
}

/* CONTACT STARTS HERE */

#contact {
  padding-top: 20px;
}

#contact, #contact-form {
  width: 100%;
}

#contact-form {
  margin-bottom: 200px;
  padding-bottom: 70px;
}

.btn {
  background-color: var(--dark-color);
  color: var(--med-color);
  margin-left: 345px;
}

/* RESUME STARTS HERE */

#resume {
  color: var(--dark-color);
}

#summary span {
  padding: 3px;
  font-weight: 700;
}

#resume-link {
  color: var(--dark-color);
}

#resume-link:hover {
  color: var(--secondary-dark-color);
}

/* FOOTER STARTS HERE */

footer {
  background-color: var(--secondary-med-color);
  margin-top: 3rem;
  position: absolute;
  left: 0; right: 0; bottom: 0;
}

#footer-sig {
  color: var(--dark-color);
}

/* MEDIA QUERIES FOR SMALL DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 1005px) {
  .hero h2 {
    width: 25%;
  }
}

/* MEDIA QUERIES FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
}

/* MEDIA QUERIES FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
  .hero h2 {
    width: 50%;
  }

  header nav ul li {
    font-size: 40px;
  }

  h3 {
    font-size: 70px;
  }

  #photo {
    width: 85%;
    margin: auto;
  }

  #about-paragraph {
    flex: 0 100%;
  }
}
